/* Styles applied to the entire wiki */

html {
  --pst-font-size-h1: 4rem;
  --pst-font-size-h2: 2.25rem;
  --pst-font-size-h3: 1.5rem;
}

h1,
h2,
h3 {
  font-weight: bold;
  border-bottom: 1px solid var(--pst-color-border-muted);
  line-height: 1.5em;
}

/* Make content area take up the same max width as the top navigation bar */
.bd-main .bd-content .bd-article-container {
  max-width: 100%; /* default is 60em */
}

/* Make the entire page area get used */
.bd-page-width {
  max-width: 100%; /* default is 88rem */
}

/* Make the primary sidebar only as large as it needs to be to fit its content */
@media (min-width: 960px) {
  .bd-sidebar-primary {
    max-width: fit-content;
  }
}

.modal-checkbox[type='checkbox']:checked ~ div.modal-background {
  display: flex !important;
}

div.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

div.modal-foreground {
  background: var(--pst-color-background);
  z-index: 2;
}

input.modal-checkbox {
  display: none;
}

/* Label CSS adapted from the PST css used for <a> */
label.modal-checkbox-label {
  cursor: pointer;
  word-wrap: break-word;
  color: var(--pst-color-link);
  text-decoration: underline;
  text-decoration-thickness: max(1px, 0.0625rem);
  text-underline-offset: 0.1578em;
}
label.modal-checkbox-label:hover {
  text-decoration-skip: none;
  color: var(--pst-color-link-hover);
  text-decoration-skip-ink: none;
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
}

/* Add a little spacing around the git history table elements */
.git-history td,
th {
  padding: 0.5em;
  border: 1px solid var(--pst-color-border-muted);
}
