/* Styles applied to the entire wiki */

html {
  --pst-font-size-h1: 4rem;
  --pst-font-size-h2: 2.25rem;
  --pst-font-size-h3: 1.5rem;
}

h1,
h2,
h3 {
  font-weight: bold;
  border-bottom: 1px solid var(--pst-color-border-muted);
  line-height: 1.5em;
}

/* Make content area take up the same max width as the top navigation bar */
.bd-main .bd-content .bd-article-container {
  max-width: 100%; /* default is 60em */
}

/* Make the entire page area get used */
.bd-page-width {
  max-width: 100%; /* default is 88rem */
}

/* Make the primary sidebar only as large as it needs to be to fit its content */
@media (min-width: 960px) {
  .bd-sidebar-primary {
    max-width: fit-content;
  }
}

/* Question dropdown stuff */
div.admonition.admonition-question {
  /*border-color: hsl(0, 100%, 50%); /* YouTube red */
}
div.admonition.admonition-question > .admonition-title:before {
  /*background-color: hsl(0, 99%, 18%);*/
}
div.admonition.admonition-question > .admonition-title:after {
  /*color: hsl(0, 100%, 50%);*/
  content: "\f086"; /* fa-solid fa-tv */
}
div.admonition.admonition-question > .admonition-title {
  /*color: white;*/
}
